<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.freewheelin.pulley">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.webkit.PermissionRequest" /> <!-- 외부 브라우저를 통해 링크를 열때 사용가능한 브라우저를 가져오는 쿼리 사용 하기위해 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>

        <package android:name="com.kakao.talk" />               <!-- 카카오톡 -->
        <package android:name="com.shcard.smartpay" />          <!-- 신한페이판 -->
        <package android:name="com.shinhancard.smartshinhan" /> <!-- 신한페이판-공동인증서 -->
        <package android:name="com.hyundaicard.appcard" />      <!-- 현대카드 -->
        <package android:name="com.lumensoft.touchenappfree" /> <!-- 현대카드-공동인증서 -->
        <package android:name="kr.co.samsungcard.mpocket" />    <!-- 삼성카드 -->
        <package android:name="nh.smart.nhallonepay" />         <!-- 올원페이 -->
        <package android:name="com.kbcard.cxh.appcard" />       <!-- KB Pay -->
        <package android:name="com.kbstar.liivbank" />          <!-- Liiv(KB국민은행) -->
        <package android:name="com.kbstar.reboot" />            <!-- Liiv Reboot(KB국민은행) -->
        <package android:name="kvp.jjy.MispAndroid320" />       <!-- ISP/페이북 -->
        <package android:name="com.lcacApp" />                  <!-- 롯데카드 -->
        <package android:name="com.hanaskcard.paycla" />        <!-- 하나카드 -->
        <package android:name="kr.co.hanamembers.hmscustomer" /><!-- 하나멤버스 -->
        <package android:name="kr.co.citibank.citimobile" />    <!-- 씨티모바일 -->
        <package android:name="com.wooricard.wpay" />           <!-- 우리페이 -->
        <package android:name="com.wooricard.smartapp" />       <!-- 우리카드 -->
        <package android:name="com.wooribank.smart.npib" />     <!-- 우리WON뱅킹 -->
        <package android:name="viva.republica.toss" />          <!-- 토스뱅크 -->
        <package android:name="com.nhnent.payapp" />            <!-- PAYCO -->
        <package android:name="com.ssg.serviceapp.android.egiftcertificate" /> <!-- SSGPAY -->
        <package android:name="com.kakao.talk" />               <!-- 카카오페이 -->
        <package android:name="com.nhn.android.search" />       <!-- 네이버페이 -->
        <package android:name="com.lottemembers.android" />     <!-- L.POINT -->
        <package android:name="com.samsung.android.spay" />     <!-- 삼성페이 -->
        <package android:name="com.samsung.android.spaylite" /> <!-- 삼성페이 -->
        <package android:name="com.lge.lgpay" />                <!-- 엘지페이 -->
        <package android:name="com.lguplus.paynow" />           <!-- 페이나우 -->
        <package android:name="com.kftc.bankpay.android" />     <!-- 뱅크페이 -->
        <package android:name="com.TouchEn.mVaccine.webs" />    <!-- TouchEn mVaccine (신한) -->
        <package android:name="kr.co.shiftworks.vguardweb" />   <!-- V-Guard (삼성) -->
        <package android:name="com.ahnlab.v3mobileplus" />      <!-- V3 (NH, 현대) -->
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="false" />

    <application
        android:name=".legacy.bases.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/pulley_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/pulley_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <!--        <activity-->
        <!--            android:name=".legacy.activities.learning.LearningTabActivity"-->
        <!--            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"-->
        <!--            android:exported="true"-->
        <!--            android:launchMode="singleTask"-->
        <!--            android:screenOrientation="sensorLandscape"-->
        <!--            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />-->
        <activity
            android:name=".revision2023.ui.activity.MainActivity"
            android:screenOrientation="sensorLandscape"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".revision2023.ui.activity.PurchaseInduceWebViewActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".revision2023.ui.activity.PurchaseWebViewActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".revision2023.ui.activity.WorkbookListActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".revision2023.ui.activity.PulleyMathBooksActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".revision2021.activity.LCTutorialActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".revision2021.activity.LCWrongNoteActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".revision2021.activity.LearningCourseActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".revision2021.activity.AlarmActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".revision2021.activity.VideoPlayerActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".revision2021.activity.AffiliatedTestSolveActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".legacy.activities.learning.tabFragment.usertest.analysis.UserAnalysisAllActivity"
            android:exported="true" />
        <activity
            android:name=".legacy.activities.learning.tabFragment.usertest.StudentManagerActivity"
            android:exported="true" />
        <activity
            android:name=".legacy.activities.learning.tabFragment.usertest.StudentMockReportActivity"
            android:exported="true" />
        <activity
            android:name=".legacy.activities.learning.tabFragment.analysis.StudyHistoryActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".legacy.activities.auth.InitSettingCompleteActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".legacy.activities.auth.InitSettingActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/provider_id"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".legacy.activities.auth.InitTestActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".legacy.activities.auth.StudyReportActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".legacy.activities.StartActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".legacy.activities.OnboardingActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".legacy.activities.auth.signup.SignupActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".legacy.activities.auth.findEmailAndPw.FindEmailAndPwActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />
        <activity
            android:name=".legacy.activities.auth.login.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustResize|stateHidden" /> <!-- android:launchMode="singleInstance" -->
        <activity
            android:name=".legacy.activities.WrongTestReportActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".legacy.activities.DailyTestReportActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".legacy.activities.WeeklyTestReportActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".legacy.activities.analysis.AnalysisTabActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".revision2021.activity.MockReportActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".legacy.activities.SplashActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".legacy.activities.OMRActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".legacy.activities.solve.SolveActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <receiver
            android:name=".legacy.bases.UpdateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" /> <!-- 2021 revision -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_small_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".revision2021.activity.PdfListActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".legacy.activities.lesson.LessonActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".revision2023.ui.activity.UnivAdditionalLearningActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />

        <service
            android:name=".legacy.service.PulleyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>