<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pulleymath.android.pdf">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <activity
            android:name=".PdfViewerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|fontScale|density"
            android:exported="false" >
        </activity>
        <activity
            android:name=".OutlineActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|fontScale|density"
            android:exported="false">
        </activity>
    </application>

</manifest>